* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-size: 18px;
}

body {
  width: 70%;
  border: 1px solid red;
  flex-flow: column wrap;
  margin: 4em auto;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

#input-section {
  display: flex;
  flex-flow: column wrap;
  border: 1px solid red;
  height: 90%;
}

#task-details {
  height: 100%;
  width: 150%;
}