* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-size: 18px;
}

body {
  width: 70%;
  border: 1px solid red;
  flex-flow: column wrap;
  margin: 4em auto;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

.heading {
  width: 80%;
  height: 5%;
}

h1 {
  font-size: 2em;
}

#input-section {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  border: 1px solid rgb(0, 0, 0);
  height: 70px;
  width: 100%;
  row-gap: 2em;
}

#task-details {
  height: 50px;
}

#add-task {
  height: 50px;
}