* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-size: 20px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  width: 60%;
  background-color: FAF3F0;
  flex-flow: column wrap;
  margin: 2em auto;
  padding: 2em 4em;
}

.page {
  background-color: D4E2D4;
  border-radius: 0.6em;
  padding-top: 2%;
}

header {
  margin: 1em auto;
  justify-content: center;
}

h1 {
  font-size: 3em;
  text-decoration: underline;
}

.main * {
  font-weight: 300;
}

.main {
  width: 70%;
  margin: 0 auto;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  row-gap: 1.2em;
}

#input-section {
  width: 100%;
  height: 10%;
  flex-flow: row wrap;
  justify-content: center;
  column-gap: 1em;
  font-weight: 300;
}

input {
  height: 2em;
  padding: 0 .4em    ;
}

#task-details {
  width: 60%;
  padding: 0em 0.5em;
}

#sort-status {
  align-self: flex-end;
}

#todo-list {
  width: 80%;
  border-radius: 1em;
  padding: 2em 4em;
  font-size: 1em;
  line-height: 3em;
  justify-content: flex-start;
  align-items: center;
}

#sort-options {
  width: 90%;
  justify-content: flex-end;
  column-gap: 1em;
  padding-right: 0.6em;
}

.task {
  width: 130%;
  border-radius: 0.6em;
  justify-content: space-between;
  align-items: center;
  padding: 0 1em;
  margin-bottom: 1em;
}

.scroll {
  overflow: scroll;
}

.flexRow {
  display: flex;
}

.flexColumn {
  display: flex;
  flex-direction: column;
}

.marked {
  text-decoration: line-through;
}

.flexColumn,
.main {
  background: floralwhite;
  border-radius: 1em;
  margin-bottom: 1em;
}

.task {
  border-bottom: 1px solid grey;
}

#todo-section {
  width: 30%;
  display: flex;
  justify-content: center;
  column-gap: 2em;
  margin: 1em auto;
}

h3{
  font-size: 1.5em;
}